{{ define "content" }}
<div class="py-6 mx-auto max-w-7xl sm:px-6 lg:px-8">
  <div class="pb-5 border-b border-gray-200">
    <h3 class="text-lg font-medium leading-6 text-gray-900"> Twitter Profile for @{{ .ScreenName }}</h3>
    <dl class="grid grid-cols-1 gap-5 mt-5 sm:grid-cols-2">
      <div class="px-4 py-5 overflow-hidden bg-white rounded-lg shadow sm:p-6">
        <dt class="font-medium text-gray-500 truncate text-md">Current Profile</dt>
        <dd class="mt-1 text-lg font-semibold text-gray-900">{{ .Description }}</dd>
      </div>
      
      <div class="px-4 py-5 overflow-hidden bg-white rounded-lg shadow sm:p-6">
        <dt class="font-medium text-gray-500 truncate text-md">New Profile</dt>
        <dd class="mt-1 text-lg font-semibold text-gray-900">{{ .Description }}</dd>
      </div>    
    </div>
  </div>
    
{{ end }}
